body {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(9, 9, 16);
  height: 600px;
  width:100%;
  text-align: center;
}
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  height: 300px;
  width: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: 49%;
  margin-top: 20%;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(34, 34, 34, 0);
  padding: 2px 16px;
  color: white;
  margin-bottom: 50px;
  margin-top: -50px;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  display: inline;
  width: 16.66%;
  padding: 15px;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 50px;
  width: auto;
}

.active,
.demo:hover {
  opacity: 1;
}

.content {
  margin-top: 10%;
}
@media (max-width: 695px) {
  .content {
    margin-top: 30%;
  }
  img {
    vertical-align: middle;
    width: 80%;
    height: auto;
  }
  .prev,
  .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding: 16px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: 49%;
  margin-top: 20%;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(34, 34, 34, 0);
  padding: 2px 16px;
  color: white;
  margin-bottom: 50px;
  margin-top: -50px;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  display: inline;
  width: 6%;
  margin-left: -10%;
  
}

}