body {
    font-family: Arial;
    background-image: url('game.png');
    color: white;
}
.topnav {
    overflow: hidden;
    float: center;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 114px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    float: center;
    text-align: center;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #24b0ec;
    color: white;
    text-align: center;
  }